---
const title = "tizzy.dev"
---
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
</head>

<body>
    <h1 class="center">tizzy.dev | coming soon</h1>
</body>

</html>

<style>
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>